<body>
<%# 読み込みアニメ %>
<div id="splash">
  <div id="splash-logo">みんなの細道</div>
</div>
<div class="splashbg"></div>
<%# /読み込みアニメ %>

<div id="container"><%# 画面遷移用 %>
  <%# 巻物部分 %>
  <div class="makimono">
    <%# タイトル巻物 %>
    <div class="title-makimono">
      <div class="title">
        みんなのほそ道
      </div>
    </div>
    <%# /タイトル巻物 %>
    <%# メイン(投稿一覧)画面 %>
    <div class="card_wrapper">
      <h2>とうこういちらん</h2>
      <div class="haiku-list slide-paused" ontouchstart="">
      <% if @haikus.length < 6%>
        <ul class="card">
          <%= render partial: 'shared/haiku', collection: @haikus %>
        </ul>
      <% else %>
        <ul class="card">
          <%= render partial: 'shared/haiku', collection: @haikus %>
        </ul>
        <ul class="card">
          <%= render partial: 'shared/haiku', collection: @haikus %>
        </ul>
      <% end %>
      </div>
    </div>
    <%# /メイン(投稿一覧)画面 %>
    <%# サイドバー %>
    <div class="side_bar">
      <div class="top_wrapper">
        <div>
          <%= link_to "春", season_search_haikus_path(season_id: 1) %>
          <%= link_to "夏", season_search_haikus_path(season_id: 2) %>  
          <%= link_to "秋", season_search_haikus_path(season_id: 3) %>  
          <%= link_to "冬", season_search_haikus_path(season_id: 4) %> 
          <%= link_to "全て", root_path %>  
        </div>
        <div>
          さすらい俳人
        </div>
      </div>

      <%= form_with model: @haiku, local: true do |f| %>
        <div class="center_wrapper">
          <div class="haiku-post">
            <span>ここで一句</span>
          </div>
          <div class="field">
            上の句
            <%= f.text_area :kami, class: "inputfield inputfield_kami" %>
          </div>
          <div class="field">
            中の句
            <%= f.text_area :naka, class: "inputfield inputfield_naka" %>
          </div>
          <div class="field">
            下の句
            <%= f.text_area :shimo, class: "inputfield inputfield_shimo" %>
          </div>
        </div>

        <div class="bottom_wrapper">
        <div class="field-season">
          <%= f.collection_select(:season_id, Season.all, :id, :name, {}, {class:"season-select"}) %>
        </div>
          <div class="field">
            <%= f.submit "投稿", class: "send_btn" %>
          </div>
        </div>
      <% end %>
    </div>
    <%# /サイドバー %>
  </div>
  <%# /巻物部分 %>
</div>

<script src="../javascript/load_anime.js"></script>
</body>