<div class="mypage-content">

  <%# 名前表示 %>
  <div class="my-name">
    <h2><%= current_user.name %>さんのマイページ</h2>
  </div>
  <%# /名前表示 %>

  <%# 自分の投稿作品一覧 %>
  <div class="my-post">
    <% @haiku.each do |h| %>
      <%= h.kami %>
      <%= h.naka %>
      <%= h.shimo %>
      <%= h.season.name%>
    <% end %>
  </div>
  <%# /自分の投稿作品一覧 %>

</div>