<!DOCTYPE html>
<html>
  <head>
    <title>Pictweet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- FontAwesomeの読み込み -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css"> 

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    
  </head>

  <body>
    <header>
    </header>
    <%= yield %>
    <footer>
    </footer>
  </body>
</html>